.admin-page {
  text-align: center;
  padding: 20px;
  background-color: #ffeed6; 
  color: #333;
}

.admin-page h2 {
  color: #B28C64;
  margin-bottom: 20px;
}

.admin-button {
  background-color: #B28C64;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.admin-button:hover {
  background-color: #FFEED7;
  color: #B28C64;
}
